.flexArea {
    flex: 5;
    background: $headerBg;
    border: 1px solid $beforeBg;
    border-radius: 8px;
}
.paddingCon {
    padding: 10px 28px;
}
.Card {
    background-color: $textWhite;
    margin-top: 20px;
    padding: 2rem;
}
