.flexArea {
    flex: 5;
    background: $headerBg;
    border: 1px solid $beforeBg;
    border-radius: 8px;
}
.paddingCon {
    padding: 10px 28px;
    @media screen and (max-width: 380px) {
     padding: 10px 10px;
    }
}
.Card {
    background-color: $textWhite;
    margin-top: 20px;
    padding: 2rem;
    border-radius: 8px;
    max-width: 100%;
}
.btn {
    padding: 3px 10px;
    color: $textWhite;
    border-radius: 8px;
    transition: all 300ms ease;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
img {
    max-width: 100%;
}
.low {
    button {
        background-color: $urgentBg !important;
        border: 1px solid $urgentBg !important;
    }
}
.normal {
    button {
        background-color: $btnNew !important;
        border: 1px solid $btnNew !important;
    }
}
body {
    background-color: $sidebarBG;
}
.open {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 254px;
    min-height: 100%;
    background: $sidebarBG;
    padding: 20px 20px;
    left: 0 !important;

    .bars {
        position: fixed;
        left: 277px !important;
        top: 50px !important;
        background-color: $sidebarBG;
        padding: 12px;
        border-radius: 8px;
       
        svg {
            display: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 5px;
            transition: all 300ms ease;
            font-size: 30px;
            color: $sideColor;
            @media screen and (max-width: 998px) {
                display: flex;
            }
        }
    }
    .navLogo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 8vh;
        cursor: pointer;
        background: $sidebarBG;
        h4 {
            font-size: 20px;
            color: $sideColor;
        }
    }
    .navItems {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 252px;
        transform: translateX(-18px);
        background: $sidebarBG;
        .navList,
        a {
            display: flex;
            color: $sideColor;
            gap: 1rem;
            width: 100%;
            padding: 10px 0;
            padding-left: 20px;
            &:hover {
                background-color: $navBg;
                color: $textWhite;
                cursor: pointer;
            }
        }
    }
    .secondnavItems {
        margin-top: 30px;
        background: $sidebarBG;
    }
}
