$sidebarBG: #363740;
$sideColor: #a4a6b3;
$headerColor: #252733;
$black: #000000;
$butttonBg: #ff9900;
$beforeBg: #dfe0eb;
$headerBg: #f7f8fc;
$pagesBg: #e5e5e5;
$navBg: #9fa2b4;
$textWhite: white;
$borderColor: #52b6ec;
$chartBox: #3751ff;
$h4Color: #c5c7cd;
$btnNew: #29cc97;
$defaultbg: #f0f1f7;
$urgentBg: #fec400;
$spanColor: #4b506d;
