@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.App {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 255px 1fr;
      grid-template-columns: 255px 1fr;
}

.flexArea {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background: #f7f8fc;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

.paddingCon {
  padding: 10px 28px;
}

.Card {
  background-color: white;
  margin-top: 20px;
  padding: 2rem;
  border-radius: 8px;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  width: 254px;
  min-height: 100%;
  background: #363740;
  padding: 20px 20px;
}

.navBar .navLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  height: 8vh;
  cursor: pointer;
}

.navBar .navLogo h4 {
  font-size: 20px;
  color: #a4a6b3;
}

.navBar .navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  width: 252px;
  -webkit-transform: translateX(-18px);
          transform: translateX(-18px);
}

.navBar .navItems .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a4a6b3;
  gap: 1rem;
  width: 100%;
  padding: 10px 0;
  padding-left: 20px;
}

.navBar .navItems .navList:hover {
  background-color: #9fa2b4;
  color: white;
  cursor: pointer;
}

.navBar .secondnavItems {
  margin-top: 30px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(3.5rem + 1.5rem);
  padding-left: 0;
  padding-right: 0;
}

.header .headerTitle h2 {
  font-size: 24px;
  color: #252733;
}

.header .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.header .images .headerImgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .images .headerImgs img {
  margin-right: 20px;
}

.header .images .profileArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: relative;
}

.header .images .profileArea::before {
  content: "";
  position: absolute;
  left: -70px;
  width: 2px;
  height: 30px;
  background-color: #dfe0eb;
}

.header .images .profileArea p {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: end;
  width: 60px;
  color: #252733;
}

.referralsCard {
  min-height: 620px;
}

.ReferralsArea h4 {
  color: #252733;
}

.editCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 620px;
}

.editCard .editProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 632px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px;
}

.editCard .editProfile .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 700;
  color: #252733;
}

.editCard .editProfile .form {
  width: 100%;
}

.editCard .editProfile .form .formControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
}

.editCard .editProfile .form .formControl .imgLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.editCard .editProfile .form .formControl .imgLabel .profileImg {
  width: 120px;
}

.editCard .editProfile .form .formControl .imgLabel .editPen {
  position: absolute;
  bottom: 0;
  right: 38%;
  width: 40px;
}

.editCard .editProfile .form .formControl .label {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.editCard .editProfile .form .formControl input {
  border: 1px solid #52b6ec;
  border-radius: 4px;
  padding: 0 10px;
  height: 40px;
}

.editCard .editProfile .form .formControl input::-webkit-input-placeholder {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}

.editCard .editProfile .form .formControl input:-ms-input-placeholder {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}

.editCard .editProfile .form .formControl input::-ms-input-placeholder {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}

.editCard .editProfile .form .formControl input::placeholder {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}

.editCard .editProfile .form .formControl input:focus {
  border: 2px solid #52b6ec;
  outline: none;
}

.editCard .editProfile .form .formControl button {
  width: 230px;
  padding: 8px 20px;
  background-color: #ff9900;
  border: 1px solid #ff9900;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
}

.editCard .editProfile .form .formControl button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.ChartBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin-bottom: 10px;
}

.ChartBox .boxes {
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  width: 270px;
  height: 164px;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.ChartBox .boxes:hover {
  border: 1px solid #3751ff;
  cursor: pointer;
}

.ChartBox .boxes:hover h3,
.ChartBox .boxes:hover p {
  color: #3751ff;
}

.ChartBox .boxes h3 {
  font-size: 19px;
  color: #9fa2b4;
  margin-bottom: 12px;
}

.ChartBox .boxes p {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 12px;
  color: #252733;
}

.graphArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-bottom: 20px;
}

.graphArea .graph {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding: 2rem;
}

.graphArea .graph .graphText h3 {
  color: #252733;
  font-size: 19px;
}

.graphArea .graph .graphText p {
  color: #9fa2b4;
  font-size: 12px;
  font-weight: 400;
}

.graphArea .graph .graphCodination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 120px;
  margin-bottom: 30px;
}

.graphArea .graph .graphCodination p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px;
  color: #9fa2b4;
  line-height: 18px;
  font-size: 12px;
  cursor: pointer;
}

.graphArea .graphRates {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  width: 100%;
  border-left: 1px solid #dfe0eb;
}

.graphArea .graphRates .rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #dfe0eb;
}

.graphArea .graphRates .rates:last-child {
  border-bottom: none;
}

.graphArea .graphRates .rates h4 {
  font-size: 16px;
  font-weight: 700;
  color: #9fa2b4;
}

.graphArea .graphRates .rates p {
  color: #252733;
  font-size: 24px;
  font-weight: 700;
}

.ticketArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ticketArea .ticketCard {
  width: 546px;
  height: 350px;
  padding: 0;
}

.ticketArea .ticketCard .ticketHeading {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ticketArea .ticketCard .ticketHeading .title .ticketTitle {
  color: #252733;
  margin-bottom: 10px;
}

.ticketArea .ticketCard .ticketHeading .title p {
  color: #9fa2b4;
  font-size: 12px;
  font-weight: 400;
}

.ticketArea .ticketCard .ticketHeading .title p span {
  color: #252733;
  font-weight: 600;
}

.ticketArea .ticketCard .ticketHeading .details {
  color: #3751ff;
  font-weight: 600;
  text-align: end;
  line-height: 20px;
}

.ticketArea .ticketCard .infoItems .infoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid;
}

.ticketArea .ticketCard .infoItems .infoItem:last-child {
  border: none;
}

.ticketArea .ticketCard .infoItems .infoItem h4 {
  font-size: 16px;
  color: #252733;
}

.ticketArea .ticketCard .infoItems .infoItem p {
  color: #9fa2b4;
  font-size: 16px;
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */