@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
@import "./modules/reset";
@import "./modules/varibles";
@import "./modules/classes";

.navBar {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 254px;
    min-height: 100%;
    background: $sidebarBG;
    padding: 20px 20px;
    .navLogo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 8vh;
        cursor: pointer;
        h4 {
            font-size: 20px;
            color: $sideColor;
        }
    }
    .navItems {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 252px;
        transform: translateX(-18px);
        .navList {
            display: flex;
            color: $sideColor;
            gap: 1rem;
            width: 100%;
            padding: 10px 0;
            padding-left: 20px;
            &:hover {
                background-color: $navBg;
                color: $textWhite;
                cursor: pointer;
            }
        }
    }
    .secondnavItems {
        margin-top: 30px;
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(3.5rem + 1.5rem);
    padding-left: 0;
    padding-right: 0;
    .headerTitle {
        h2 {
            font-size: 24px;
            color: $headerColor;
        }
    }
    .images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        .headerImgs {
            display: flex;
            align-items: center;
            img {
                margin-right: 20px;
            }
        }
        .profileArea {
            display: flex;
            align-items: center;
            gap: 5px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: -70px;
                width: 2px;
                height: 30px;
                background-color: $beforeBg;
            }
            p {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-align: end;
                width: 60px;
                color: $headerColor;
            }
        }
    }
}
.referralsCard {
    min-height: 620px;
}
.ReferralsArea {
    h4 {
        color: $headerColor;
    }
}
.editCard {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 620px;
    .editProfile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 632px;
        height: fit-content;
        padding: 12px;
        .text {
            display: flex;
            justify-content: left;
            width: 100%;
            margin-bottom: 20px;
            font-size: 19px;
            font-weight: 700;
            color: $headerColor;
        }
        .form {
            width: 100%;
            .formControl {
                display: flex;
                flex-direction: column;
                padding: 10px 0;
                .imgLabel {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    cursor: pointer;
                    .profileImg {
                        width: 120px;
                    }
                    .editPen {
                        position: absolute;
                        bottom: 0;
                        right: 38%;
                        width: 40px;
                    }
                }
                .label {
                    color: $black;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 6px;
                }
                input {
                    border: 1px solid $borderColor;
                    border-radius: 4px;
                    padding: 0 10px;
                    height: 40px;
                    &::placeholder {
                        color: $black;
                        font-size: 15px;
                        font-weight: 700;
                    }
                    &:focus {
                        border: 2px solid $borderColor;
                        outline: none;
                    }
                }
                button {
                    width: 230px;
                    padding: 8px 20px;
                    background-color: $butttonBg;
                    border: 1px solid $butttonBg;
                    border-radius: 12px;
                    font-size: 16px;
                    font-weight: 600;
                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.ChartBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
    margin-bottom: 10px;
    .boxes {
        border: 1px solid $beforeBg;
        border-radius: 8px;
        width: 270px;
        height: 164px;
        text-align: center;
        transition: all 300ms ease;
        &:hover {
            border: 1px solid $chartBox;
            cursor: pointer;
            h3,
            p {
                color: $chartBox;
            }
        }
        h3 {
            font-size: 19px;
            color: $navBg;
            margin-bottom: 12px;
        }
        p {
            font-size: 40px;
            font-weight: 700;
            padding-bottom: 12px;
            color: $headerColor;
        }
    }
}
.graphArea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 20px;
    .graph {
        flex-basis: 70%;
        padding: 2rem;
        .graphText {
            h3 {
                color: $headerColor;
                font-size: 19px;
            }
            p {
                color: $navBg;
                font-size: 12px;
                font-weight: 400;
            }
        }
        .graphCodination {
            display: flex;
            column-gap: 30px;
            justify-content: flex-end;
            margin-right: 120px;
            margin-bottom: 30px;
            p {
                display: flex;
                align-items: baseline;
                gap: 6px;
                color: $navBg;
                line-height: 18px;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
    .graphRates {
        flex-basis: 30%;
        width: 100%;
        border-left: 1px solid $beforeBg;
        .rates {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border-bottom: 1px solid $beforeBg;
            &:last-child {
                border-bottom: none;
            }
            h4 {
                font-size: 16px;
                font-weight: 700;
                color: $navBg;
            }
            p {
                color: $headerColor;
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}
.ticketArea {
    display: flex;
    justify-content: space-between;
    .ticketCard {
        width: 546px;
        height: 350px;
        padding: 0;
        .ticketHeading {
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            .title {
                .ticketTitle {
                    color: $headerColor;
                    margin-bottom: 3px;
                }
                p {
                    color: $navBg;
                    font-size: 12px;
                    font-weight: 400;
                    span {
                        color: $headerColor;
                        font-weight: 600;
                    }
                }
            }
            .details {
                color: $chartBox;
                font-weight: 600;
                text-align: end;
                line-height: 20px;
            }
        }
        .infoItems {
            .infoItem {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 2rem;
                border-bottom: 1px solid;
                &:last-child {
                    border: none;
                }
                h4 {
                    font-size: 16px;
                    color: $headerColor;
                }
                p {
                    color: $navBg;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
        .secondInfoItems {
            .infoItem {
                h4 {
                    color: $h4Color;
                }
                .check {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    label {
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .checkBox {
                        border-radius: 50%;
                        width: 1.3em;
                        height: 1.3em;
                        background-color: $textWhite;
                        vertical-align: middle;
                        border: 2px solid $h4Color;
                        appearance: none;
                        -webkit-appearance: none;
                        outline: none;
                        &:checked {
                            background: url("../images/checkBox.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
