@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
@import "./modules/reset";
@import "./modules/varibles";
@import "./modules/classes";

.navBar {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 254px;
    min-height: 100vh;
    background: $sidebarBG;
    padding: 20px 20px;
    .navLogo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 8vh;
        cursor: pointer;
        h4 {
            font-size: 20px;
            color: $sideColor;
        }
    }
    .navItems {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 252px;
        transform: translateX(-18px);
        .navList {
            display: flex;
            color: $sideColor;
            gap: 1rem;
            width: 100%;
            padding: 10px 0;
            padding-left: 20px;
            &:hover {
                background-color: $navBg;
                color: $textWhite;
                cursor: pointer;
            }
        }
    }
    .secondnavItems {
        margin-top: 30px;
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(3.5rem + 1.5rem);
    padding-left: 0;
    padding-right: 0;
    .headerTitle {
        h2 {
            font-size: 24px;
            color: $headerColor;
        }
    }
    .images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        .headerImgs {
            display: flex;
            align-items: center;
            img {
                margin-right: 20px;
            }
        }
        .profileArea {
            display: flex;
            align-items: center;
            gap: 5px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: -70px;
                width: 2px;
                height: 30px;
                background-color: $beforeBg;
            }
            p {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-align: end;
                width: 60px;
                color: $headerColor;
            }
        }
    }
}
.ReferralsArea {
    h4 {
        color: $headerColor;
    }
}
.editCard {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .editProfile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 632px;
        height: fit-content;
        padding: 12px;
        .text {
            display: flex;
            justify-content: left;
            width: 100%;
            margin-bottom: 20px;
            font-size: 19px;
            font-weight: 700;
            color: $headerColor;
        }
        .form {
            width: 100%;
            .formControl {
                display: block;
                padding: 10px 0;
                background-color: red;
            }
        }
    }
}
